*{
	padding : 0;
	margin : 0;
	box-sizing : border-box;
}

header{
	min-height: 200px;
	width : 100%;
	background-color : red;
}

main{
	min-height: 50vh;
	width : 100%;
	
	background-color : green;
	/*background-image: url("../assets/img/Screen Shot 2019-08-15 at 23.15.04.png");*/
}

footer{
	min-height: 100px;
	width : 100%;
	background-color : grey;
}
